<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Title</title>
</head>
<body>
<form th:action="@{/policy/save}" th:object="${policy}" method="post">
    PolicyId:<input type="number" th:field="${policy.policyId}" readonly><br>
    Status:<input type="text" th:placeholder="Notbounded" th:value="Notbounded" th:field="${policy.status}" readonly><br>
    Policy Holder Name:<input type="text" th:field="${policy.policyHolderName}"><br>
    Address Line1:<input type="text" th:field="${policy.addressLine1}"><br>
    Address Line2:<input type="text" th:field="${policy.addressLine2}"><br>
    State:
    <select name="state" value="selectedstate[]">
        <option th:each="state:${state}" th:value="${state.stateId}" th:text="${state.stateName}"></option>
    </select>
    <br>
    Coverages:
    <select name="coverage" value="coverage[]" multiple="multiple">
        <option th:each="cov:${coverage}" th:value="${cov.coverageId}" th:text="${cov.coverageName}"></option>
    </select>
    <br>
    <button type="submit">Save</button>
</form>
</body>
</html>